body { font-family: Arial, sans-serif; 
              padding: 20px;
              background-color: #da0a0a; 
            }
        
        .card { border: 1px solid #ccc; 
          padding: 15px; 
          margin-bottom: 10px; 
          border-radius: 5px; 
        }
        
        button { margin-top: 10px; 
          padding: 5px 10px; 
          cursor: pointer; 
        }